html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  /*background: url("../img/back.jpg") no-repeat center;
  background-size: cover;*/
}

/* Aligner content */

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-top {
  align-self: flex-start;
}

header {
  display: flex;
}

.top-right {
  margin-top: 18px;
  margin-left: 75px;
}

h1 {
  color: #000000;
  font-size: 50px;
  text-align: center;
  margin-top: 45px;
}

.links {
  list-style: none;
}

.links i {
  color: #000;
}

.links i:hover {
  color: #848980;
}